.first-column-container{
    margin-left: 25px;
    padding: 20px;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(183, 0, 255, 0.795);
}

.first-column-container label {
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 10px;
}

.first-column-container input {
    padding: 6.5px;
    border: 1px solid #9a00a8;
    border-radius: 5px;
    width: 200px;
}

.first-column-container div {
    margin-bottom: 10px;
}

.first-column-container h2 {
    text-align: center;
}

/* ↓↓↓//SECOLUM//↓↓↓ */

.second-form-container {
    margin-left: 25px;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 0px 10px #9a00a8
}

.second-form-container label {
    font-style: italic;
}

.second-form-container div {
    margin-bottom: 5px;
}